    /*
    * Skeleton V1.2
    * Copyright 2011, Dave Gamache
    * www.getskeleton.com
    * Free to use under the MIT license.
    * http://www.opensource.org/licenses/mit-license.php
    * 6/20/2012
    */

    /* Table of Content
    ==================================================
    	#Site Styles
    	#Page Styles
    	#Media Queries
    	#Font-Face */

    /* #Site Styles
    ================================================== */
    html{height: 100%;}
    body                          {
        height: 100%;
        font-family: arial; 
        font-size: 62.5%;
    }
    
    /* #Page Styles
    ================================================== */
    /* Globales */
    .banner{width: 100%; min-height: 60px;background: #E6E6E6;text-align: center;}
    .he100{height: 100px; line-height: 100px;}
    .he200{height: 200px;line-height: 200px;}
    .he300{height: 300px;line-height: 300px;}
    .banner p{font-family: helvetica;color:#333; font-size: 1.6em; display: inline-block;vertical-align: middle;line-height: normal; text-align: center;}
    .titulo{height: 60px;background: #E6E6E6;}
    .w100{width: 100px;}
    .w200{width: 200px;}
    .w300{width: 300px;}
    .w1{width: 100%;display: block;}
    .w2{width: 50%;display: block;}
    .w3{width: 25%;display: block;}
    .maut{margin: 0 auto;}
    .texto{height: 20px;background: #E6E6E6; margin-bottom: 10px;}
    .he400{height: 400px;line-height: 400px;}

    body{background: #f2f2f2;}
    h1,h2,h3,h4,h5,h6{font-family: 'avenirMedium';}
    p{font-family: 'avenirMedium';}
    header{background: #fff; height: 80px; width: 100%;}
    header .logo{width: 200px; height: 56px; margin: 7px auto 0 auto; }
    header .logo a{ display: block; width: 100%; height: 100%;  background: url(../img/logo.svg); background-size: cover;}
    header .menu {height: 80px; width: 100%; background: white;}
    header .menu i{font-size: 3.5em; line-height: 2.3em; color: black; float: right; margin-right: 60px;}
    header .menu a{text-decoration: none;}
    header   i{font-size: 2.5em; }

    /* PAGINA PRINCIPAL */

    .slider{width: 100%;min-height: 300px; line-height: 300px; background-color: #656a6e; text-align: center;background-image: url(../img/slider.jpg);background-size: cover;  background-blend-mode: multiply;}
    .slider .descripcion h4{font-family: 'avenirHeavy';padding-top: 100px; line-height: 1em;font-size: 4.5em; color: #fff; text-align: center;}
    
    .servicios{min-height: 200px; padding: 30px 0 40px 0; background: #FFF;}
    .servicios .opciones{width: 100%;  height: 55px; border-bottom: 1px solid #e6e6e6;}
    .servicios .opciones h3{float: left; line-height: 2em; }
    .servicios .opciones ul{width: 300px; height: 55px; float: right;}
    .servicios .opciones ul li{width: 50%; float: left; height: 55px;}
    .servicios .opciones ul li a{display: block; width: 100%; height: 100%; background: #e6e6e6; text-align: center; text-decoration: none; color: #666; font-family: 'avenirHeavy'; font-size: 1.6em; line-height: 3.5em;}
    .servicios .opciones ul li.current a{background: #1e88e5; color: #fff;}
    .servicios .opciones ul li a:hover{background: #1e88e5; color: #fff;}

    .servicios .servicio{width: 80%; min-height: 100px; margin: 0 auto; padding: 50px 10%; }
    .servicios .servicio .icono{width: 30%; height: 100px; float: left;  font-size: 7.5em; line-height: 1.4em; color: #1e88e5; text-align: center;}
    .servicios .servicio .descripcion{width: 65%; height: 100px; float: left; margin-left: 5%;}
    .servicios .servicio .descripcion h4{font-size: 2em; margin: 0; color: #363b40;}
    .servicios .servicio .descripcion p{font-size: 1.4em; color: #616366;}

    .portafolio{ min-height: 200px;padding: 60px 0;}
    .portafolio .proyecto{ width: 100%; height: 200px; background: #10549e; }
    .portafolio .proyecto a{ display: block; width: 100%; height: 100%; background-color: #fff !important;  background-size: cover !important; background-position: center center !important; background-blend-mode: multiply !important; position: relative; transition: background-color .3s !important; }
    .portafolio .proyecto a .nombre{width: 90%; height: 80px; position: absolute; bottom: 10%; left: 5%; visibility: hidden; opacity: 0; -webkit-transition: visibility .3s,opacity .3s; -moz-transition: visibility .3s,opacity .3s; -o-transition: visibility .3s,opacity .3s; transition: visibility .3s,opacity .3s; }
    .portafolio .proyecto a .nombre h5,.portafolio .proyecto a .nombre p{color: #FFF;}
    .portafolio .proyecto a .nombre h5{font-family: 'avenirBlack';}
    .portafolio .proyecto a .nombre p{font-size: 1.3em;}
    .portafolio .proyecto a:hover{ background-color: #10549c !important;  transition: background-color .3s; }
    .portafolio .proyecto a:hover .nombre{visibility: visible; opacity: 1;}


    .clientes{min-height: 200px;padding: 50px 0; background: #242b31;}
    .clientes h3{text-align: center; color: #FFF;}
    .clientes p{text-align: center; color: #e6e6e6; font-family: 'avenirBook'; font-size: 1.6em; line-height: 1.4em;}
    .clientes ul li{margin: 30px 1% 20px 1%; width: 15%;float: left;}
    .clientes ul li:first-child{margin-left:0;}
    .clientes ul li:last-child{margin-right: 0;}
    .clientes ul li .cliente{display: block; width: 100%; height: 40px; background-size:contain !important; background-position: center center !important; background-repeat: no-repeat !important; }

    .equipo{width: 100%; min-height: 200px; padding: 50px 0; background: #1e88e5;}
    .equipo .icono{width: 100%; min-height: 100px; font-size: 32em; color: #FFF; text-align: center; }
    .equipo .razon{width: 80%; margin: 0 auto;}
    .equipo .razon h3{ color: #FFF; margin-top: 50px;}
    .equipo .razon p{ color: #FFF; font-family: 'avenirMedium'; font-size: 1.5em; text-align: justify; }

    footer{width: 100%; min-height: 300px; padding: 20px 0 0 0;}
    footer .piepag{border-bottom: 1px solid #e6e6e6;}
    footer .piepag h4{font-size: 2.5em; font-family: 'avenirBook'; color: #363b40; margin-bottom: 15px;}
    footer .piepag ul li{ width: 100%; min-height: 25px;}
    footer .piepag ul li a{text-decoration: none; font-family: 'avenirBook'; color: #616366; font-size: 1.5em; }
    
    footer .derechos{width: 100%; height: 70px;}
    footer .derechos .derecho p,footer .derechos .version p{font-size: 1.5em; font-family: 'avenirBook'; color: #616366; line-height: 1.3em; margin:0; padding: 0;}
    footer .derechos .version p{text-align: right; margin: 0;}
    footer .derechos .version p a{text-decoration: none; color: #1e88e5;}
    footer .derechos .version p a:hover{color: #616366;}
    footer .derechos .version ul{float: right; height: 20px;}
    footer .derechos .version ul li{float: left; width: 20px; height: 20px; margin: 0 1px;}
    footer .derechos .version ul li:last-child{margin:0 0 0 1px;}
    footer .derechos .version ul li a{text-decoration: none; display: block; width: 100%; height: 100%; font-size: 1.5em; text-align: center; line-height: 1.5em; color: #666666;}
    



    /* Style */

    

    
    .equipo{min-height: 200px;padding: 40px 0;}
    .piepag{min-height: 200px;padding: 30px 0;}
    .derechos{min-height: 50px;padding: 60px 0;}
    .serv{min-height: 200px;padding: 40px 0;}
    .paquetes{min-height: 200px;padding: 40px 0;}
    .comienza{min-height: 50px;padding: 60px 0;}
    .equipo{min-height: 200px;padding: 40px 0;}
    .mv{min-height: 200px;padding: 40px 0;}
    .acerca{min-height: 200px;padding: 40px 0;}
    .acerca-equipo{min-height: 200px;padding: 40px 0;}
    .portafolios{min-height: 200px;padding: 40px 0;}
    .frase{background: #f2f2f2;}
    .frase .frase{text-align: center; font-size: 1.5em}
  
    /* #Media Queries
    ================================================== */

    /* Bigger than 1280px */

    @media only screen and (min-width: 1281px) {
    
    }


    @media only screen and (min-width: 1600px) {

    }

    @media only screen and (max-height: 768px) {
      

    }

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}



            /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

  

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

    
        header{ height: 90px;}
        header .logo{height: 80px;}
        header img{margin-left: 50px; margin-top: 25px;}
        header .menu {display: none;}

        .clientes ul li{margin: 20px 1%; width: 32%}
        .clientes ul li:nth-child(3){margin-right: 0;}
        .clientes ul li:nth-child(4){margin-left: 0;}
    
         
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        .clientes ul li{margin: 20px 2%; width: 47%}
        .clientes ul li:nth-child(2){margin-right: 0;}
        .clientes ul li:nth-child(3){margin-left: 0;margin-right: 2%;}
        .clientes ul li:nth-child(4){margin-right: 0;margin-left: 2%;}
        .clientes ul li:nth-child(5){margin-left: 0;}
       
    }


    /* #Font-Face
    ================================================== */
    /* 	This is the proper syntax for an @font-face file
    		Just create a "fonts" folder at the root,
    		copy your FontName into code below and remove
    		comment brackets */
    
    @font-face {
        font-family: 'avenirLight';
        src: url('fonts/avenir/AvenirLTStd-Light.eot');
        src: url('fonts/avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Light.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Light.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
   @font-face {
        font-family: 'avenirMedium';
        src: url('fonts/avenir/AvenirLTStd-Medium.eot');
        src: url('fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Medium.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Medium.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirBook';
        src: url('fonts/avenir/AvenirLTStd-Book.eot');
        src: url('fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Book.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirHeavy';
        src: url('fonts/avenir/AvenirLTStd-Heavy.eot');
        src: url('fonts/avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Heavy.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Heavy.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Heavy.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirBlack';
        src: url('fonts/avenir/AvenirLTStd-Black.eot');
        src: url('fonts/avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Black.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Black.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'custom';
        src:url('fonts/custom/thunder.eot?-f1ilph');
        src:url('fonts/custom/thunder.eot?#iefix-f1ilph') format('embedded-opentype'),
            url('fonts/custom/thunder.woff?-f1ilph') format('woff'),
            url('fonts/custom/thunder.ttf?-f1ilph') format('truetype'),
            url('fonts/custom/thunder.svg?-f1ilph#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*=" icon-"] {
        font-family: 'custom';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


    .icon-equipo:before {
      content: "\e907";
    }
    .icon-cms:before {
      content: "\e900";
    }
    .icon-menu:before {
      content: "\e901";
    }
    .icon-web-development:before {
      content: "\e902";
    }
    .icon-ecommerce:before {
      content: "\e903";
    }
    .icon-apps:before {
      content: "\e904";
    }
    .icon-ui:before {
      content: "\e905";
    }
    .icon-web-design:before {
      content: "\e906";
    }
    .icon-chrome:before {
      content: "\ead9";
    }
    .icon-firefox:before {
      content: "\eada";
    }
    .icon-IE:before {
      content: "\eadb";
    }
    .icon-edge:before {
      content: "\eadc";
    }
    .icon-safari:before {
      content: "\eadd";
    }
    .icon-opera:before {
      content: "\eade";
    }
    .icon-html-five2:before {
      content: "\eae5";
    }
    .icon-css3:before {
      content: "\eae6";
    }

