    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
    table { border-collapse: collapse; border-spacing: 0; }

    html{ height: 100%; }
    body{ height: 100%; font-family: arial;  font-size: 62.5%; background: #f2f2f2;  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%;  }

    /*Tipografias*/

    h1,h2,h3,h4,h5,h6{font-family: 'avenirMedium';color: #363b40; line-height: 1em; }
    h1{font-size: 3.6em; margin-bottom: 15px; }
    h2{font-size: 3.2em; margin-bottom: 13px;}
    h3{font-size: 2.7em; margin-bottom: 10px;}
    h4{font-size: 2.2em; margin-bottom: 8px;}
    h5{font-size: 1.8em; margin-bottom: 5px;}
    h6{font-size: 1.4em; margin-bottom: 3px;}
    h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{ color:#616366; line-height: 1em; font-size: 80%;}
    p{font-family: 'avenirMedium'; font-size: 1.5em; color: #616366; line-height: 1.4em;}
    p small{font-size: 90%;}
    p img { margin: 0; }
    blockquote{font-family: 'avenirMedium'; border-left: 2px solid #ccc; color: #777; font-size: 1.6em; line-height: 1.6em; padding-left: 10px; font-style: italic; }
    blockquote p { font-size: 1em; line-height: 1.6em; color: #777; font-style: italic; }
    .av-lig{font-family: 'avenirLight';}
    .av-boo{font-family: 'avenirBook';}
    .av-med{font-family: 'avenirMedium';}
    .av-hea{font-family: 'avenirHeavy';}
    .av-bla{font-family: 'avenirBlack';}

    /*Globales*/

    .section   {width: 100%; min-height: 60px;}
    .sec-blue  {background-color: #1e88e5;}
    .sec-white {background-color: #fff;}
    .sec-gray  {background-color: #242b31;}
    .sec-yellow{ background-color: #f1cc0e; }
    .sec-dark  {background-color: #363b40;}
    .sec-dark-light{ background-color: #616366; }
    .sec-gray-light{background-color: #999999;}
    .sec-light{background-color: #CCCCCC;}
    .mh-100     {min-height: 100px;}
    .mh-200     {min-height: 200px;}
    .mh-300     {min-height: 300px;}
    .mh-400     {min-height: 400px;}
    .mh-500     {min-height: 500px;}
    .mh-600     {min-height: 600px;}
    .mh-700     {min-height: 700px;}
    .mh-800     {min-height: 800px;}
    .mh-900     {min-height: 900px;}
    .mh-1000    {min-height:1000px;}
    .mw-50{width: 50% !important;}
    .pd-10      {padding: 10px 0;}
    .pd-20      {padding: 20px 0;}
    .pd-30      {padding: 30px 0;}
    .pd-40      {padding: 40px 0;}
    .pd-50      {padding: 50px 0;}
    .pd-60      {padding: 60px 0;}
    .pd-70      {padding: 70px 0;}
    .pd-80      {padding: 80px 0;}
    .pd-90      {padding: 90px 0;}
    .pd-100     {padding:100px 0;}
    .no-mar-bo{margin-bottom: 0;}
    .no-mar-le{margin-left: 0;}
    .no-mar-to{margin-top: 0;}
    .no-mar-ri{margin-right: 0;}
    .no-mar     { margin:0;}
    .box        { width: 100%;}
    .box-half   { width: 50%;}
    .pd-all-5  {width: 90%; height: 90%; padding: 5%;}
    .pd-all-10 {width: 80%; height: 80%; padding:10%;}
    .pd-all-20 {width: 60%; height: 60%; padding:20%;}
    .pd-all-25 {width: 50%; height: 50%; padding:25%;}
    .pd-all-30 {width: 40%; height: 40%; padding:30%;}
    .pd-ver-5  { width: 100%;height: 90%; padding:5% 0;}
    .pd-ver-10 {width: 100%;height: 80%; padding:10% 0;}
    .pd-ver-20 {width: 100%;height: 60%; padding:20% 0;}
    .pd-ver-25 {width: 100%;height: 50%; padding:25% 0;}
    .pd-ver-30 {width: 100%;height: 40%; padding:30% 0;}
    .pd-hor-5  { width: 90%; padding:0 5%;}
    .pd-hor-10 {width: 80%; padding:0 10%;}
    .pd-hor-20 {width: 60%; padding:0 20%;}
    .pd-hor-25 {width: 50%; padding:0 25%;}
    .pd-hor-30 {width: 40%; padding:0 30%;}
    .pd-right-2{width: 98%;  padding-right: 2%;}
    .pd-left-2{width: 98%;  padding-left: 2%;}
    .pd-right-5{width: 95%;  padding-right: 5%;}
    .pd-left-5{width: 95%;  padding-left: 5%;}
    .tx-rig{ text-align: right; }
    .tx-cen{ text-align: center; }
    .tx-jus{ text-align: justify; }
    .col-blue{color: #1e88e5;}
    .col-white{color: #ffffff;}
    .col-gray{color: #242b31;}
    .col-yellow{color: #f1cc0e;}
    .clear{clear: both;}
    .relative{position: relative;}
    .overh{overflow:hidden;}
    .dis-blo{display: block;}
    .f-left{float: left;}


    /* alertas */
    .alert{width: 92%; min-height: 10px; padding: 18px 4%; margin: 10px 0; font-size: 1.6em; line-height: 1em; font-family: 'avenirMedium'; border-radius: 5px; color: #FFF;}
    .alert i{ font-size: 1.2em; }
    .alert-success{background: #25ba9b; }
    .alert-warning{background: #e1c71b; }
    .alert-info{background: #3099da; }
    .alert-error{background: #e65242; }
    
    /* Botones */
    button{display: block;}
    a.btn{text-decoration: none; text-align: center; display: block; line-height: 3em;}
    a.btn-inli,
    .btn-inli{display: inline-block; }
    .btn{border:1px solid transparent;  box-shadow: none; color: #616366; border-radius: 5px;  font-family: 'avenirMedium'; padding: 0; cursor: pointer;}
    .btn-small{width: 100px; height: 30px; font-size: 1em;}
    .btn-medium{width: 150px; height: 40px; font-size: 1.3em;}
    .btn-big{ width: 220px; height: 55px;font-size: 1.8em; }
    .btn-block{display: block; width: 100%;}
    .btn-default,.btn-white,.btn-blue,.btn-gray,.btn-default-out,.btn-blue-out,.btn-white-out,.btn-gray-out{transition:background .3s,color .3s, border .3s;}
    .btn-default{background:#ccc; color: #333;}
    .btn-default:hover{background: #aaaaaa;}
    .btn-default-out{background: none; color: #aaa; border:1px solid #ccc;}
    .btn-default-out:hover{background: rgba(204,204,204,.6); color: #333;}
    .btn-white{background: #FFFFFF; color: #000;}
    .btn-white:hover{background: none; color: #fff; border:1px solid #fff;}
    .btn-white-out{background: none; color: #fff; border:1px solid #fff;}
    .btn-white-out:hover{background: rgba(255,255,255,.6); color: #333;}
    .btn-blue{background: #1e88e5; color: #ffffff;}
    .btn-blue:hover{background: #1663A7;}
    .btn-blue-out{background: none; color: #1e88e5; border:1px solid #1e88e5;}
    .btn-blue-out:hover{background: #1e88e5; color: #fff;}
    .btn-gray{background: #242b31; color: #ffffff;}
    .btn-gray:hover{background: #4b5156;}
    .btn-gray-out{background: none; color: #242b31; border:1px solid #242b31;}
    .btn-gray-out:hover{background: #242b31; color: #fff;}
    .btn-nrad{border-radius: 0;}
    .btn-left{float: left;}
    .btn-center{margin:0 auto;}
    .btn-right{float: right;}


    /* formularios */
    form { margin-bottom: 20px; }
    fieldset {margin-bottom: 20px; }
    label,legend { display: block; font-weight: bold; font-size: 1.4em; }
    input[type="checkbox"] { display: inline; }
    input[type=text]{width: 100%; padding: 18px 20px 14px 20px; margin: 0 0 10px 0; outline: none; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; background: none; font-family: 'avenirMedium'; line-height: 1em; font-size: 1.6em; color: #999999; }
    input[type=text]:focus{ box-shadow: none; border:1px solid #1e88e5; color: #616366; transition:border .2s;}
    input[type=text]:disabled{ background: #e6e6e6; cursor: not-allowed;}
    input[type=text]::-webkit-input-placeholder {  color: #999999; }
    input[type=text]::-moz-placeholder { color: #999999; }
    input[type=text]:-ms-input-placeholder { color: #999999;}
    input[type=text]:-moz-placeholder { color: #999999; }
    select{width: 100%; padding: 15px 0; outline: none; height: 50px; font-size: 1.4em; padding: 18px 20px 14px 20px; background: none; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; 
        appearance: none; background-image: url(../img/arrow.png); background-repeat: no-repeat; background-position: 100% 50%; background-size: 30px 50px; cursor: pointer; font-family: 'avenirMedium';}
    select:focus{ box-shadow: none; border:1px solid #1e88e5; color: #616366; transition:border .2s;}
    textarea{width: 100%; max-width: 100%; min-height: 50px; resize: none; min-width: 100%; outline: none; padding: 18px 20px 14px 20px; margin: 0 0 10px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; background: none; font-family: 'avenirMedium'; line-height: 1em; font-size: 1.6em; color: #999999;}
    textarea:focus{box-shadow: none; border:1px solid #1e88e5; color: #616366; transition:border .2s;}
    label{ display: block; font-family: 'avenirMedium'; font-size: 1.4em; color: #363b40; margin:5px 0;}

    /* Tablas */
    table.tab-normal{width: 100%;  border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right:1px solid #ccc;} 
    table.tab-normal thead tr th,table.tab-normal tbody tr td,table.tab-normal tfoot tr td{border-bottom: 1px solid #ccc;}
    table.tab-normal thead tr th{font-family: 'avenirHeavy'; font-size: 1.4em; padding: 10px 0; color: #363b40;}
    table.tab-normal tbody tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 10px 0; color: #616366; text-indent: 5px;}
    table.tab-normal tfoot tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 10px 0; color: #616366; text-indent: 5px;}

    table.tab-cnt-center td,table.tab-cnt-center th{text-align: center;}

    table.tab-wide{width: 100%;  border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right:1px solid #ccc;} 
    table.tab-wide thead tr th,table.tab-wide tbody tr td,table.tab-wide tfoot tr td{border-bottom: 1px solid #ccc;}
    table.tab-wide thead tr th{font-family: 'avenirHeavy'; font-size: 1.4em; padding: 25px 0; color: #363b40;}
    table.tab-wide tbody tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 25px 0; color: #616366; text-indent: 5px;}
    table.tab-wide tfoot tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 25px 0; color: #616366; text-indent: 5px;}

    table.tab-border{width: 100%;  border-top: 1px solid #ccc; border-left: 1px solid #ccc;} 
    table.tab-border thead tr th,table.tab-border tbody tr td,table.tab-border tfoot tr td{border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;}
    table.tab-border thead tr th{font-family: 'avenirHeavy'; font-size: 1.4em; padding: 10px 0; color: #363b40;}
    table.tab-border tbody tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 10px 0; color: #616366; text-indent: 5px;}
    table.tab-border tfoot tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 10px 0; color: #616366; text-indent: 5px;}

    table.tab-border-wide{width: 100%;  border-top: 1px solid #ccc; border-left: 1px solid #ccc; } 
    table.tab-border-wide thead tr th,table.tab-border-wide tbody tr td,table.tab-border-wide tfoot tr td{border-bottom: 1px solid #ccc; border-right:1px solid #ccc;}
    table.tab-border-wide thead tr th{font-family: 'avenirHeavy'; font-size: 1.4em; padding: 25px 0; color: #363b40;}
    table.tab-border-wide tbody tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 25px 0; color: #616366; text-indent: 5px;}
    table.tab-border-wide tfoot tr td{font-family: 'avenirMedium'; font-size: 1.4em; padding: 25px 0; color: #616366; text-indent: 5px;}

    /* GENERALES */

    /* Enlaces */
    a, a:visited { text-decoration: underline; outline: 0; }
    p a, p a:visited { line-height: inherit; }


    /* Listas */
    ul li{margin-bottom: 15px;}

    /* Imágenes */
    .img{display: block; width: 100%; height: 100%; background-position: center center !important; background-size: cover !important;}
    .circled{border-radius:50%;}
    .rounded{border-radius:25%;}
    .img-h-100{height: 100px; width: 100px;}
    .img-h-150{height: 150px; width: 150px;}
    .img-h-200{height: 200px; width: 200px;}
    .img-h-250{height: 250px; width: 250px;}
    .grayscale{filter: grayscale(100%);}

    img.scale-with-grid {
        max-width: 100%;
        height: auto; }

    /* Navegacion */
    
    .navegacion{width: 98%; min-height: 50px; margin: 10px 0; padding: 0 1%;}
    .navegacion ul li{float: left; min-height: 50px; font-family: 'avenirBook'; font-size: 1.4em; margin:0 3px; color: #616366; line-height: 3.6em; }
    .navegacion ul li a{text-decoration: none; color: #363b40; transition:color .3s; font-family: 'avenirMedium'; }
    .navegacion ul li a:hover{color: #1e88e5;}

    .sec-blue .navegacion ul li,.sec-gray .navegacion ul li{color: #fff;}
    .sec-blue .navegacion ul li a,.sec-gray .navegacion ul li a{color: #fff;}
    .sec-blue .navegacion ul li a:hover,.sec-gray .navegacion ul li a:hover{color:#f1cc0e; }

    /* Paginacion */
    .sec-blue .paginacion ul li,.sec-gray .paginacion ul li{color: #fff;}
    .sec-blue .paginacion ul li a{color: #FFF; border:1px solid #fff;}
    .sec-blue .paginacion ul li a:hover{color: #f1cc0e; border: 1px solid #fff;}
    .sec-blue .paginacion ul li.current a{background: #fff; color: #333; border: 1px solid #fff; }

    .sec-gray .paginacion ul li a{border: 1px solid #ccc; color: #FFF;}
    .sec-gray .paginacion ul li a:hover{color: #1e88e5; border: 1px solid #ccc;}
    .sec-gray .paginacion ul li.current a{color: #fff; border:1px solid #1e88e5; }


    .paginacion{width: 100%; min-height: 44px;}
    .paginacion ul{width: 332px; min-height: 44px; }
    .paginacion ul li{float: left; min-height: 44px; width: 44px; font-family: 'avenirHeavy'; font-size: 1.4em; margin:0 2px; color: #616366; line-height: 3.2em; text-align: center; }
    .paginacion ul li i{font-size: 1.4em; padding-top: 10px; line-height: 2.3em;}
    .paginacion ul li:first-child{margin-left:0; height: 15px;}
    .paginacion ul li:last-child{margin-right:0; height: 15px;}
    .paginacion ul li:first-child a,.paginacion ul li:last-child a{border:none;}
    .paginacion ul li:first-child a:hover,.paginacion ul li:last-child a:hover{border:none;}
    .paginacion ul li a{ display: block; width: 42px; height: 42px; border:1px solid #ccc; border-radius:22px; text-decoration: none; color: #363b40; transition:color .2s, border .2s; font-family: 'avenirHeavy'; }
    .paginacion ul li a:hover{color: #1e88e5; border:1px solid #1e88e5;}
    .paginacion ul li.current a{background: #1e88e5; color: #FFF; border: 1px solid #1e88e5;}



    /* PAGINA PRINCIPAL */
     
    header{background: #fff; height: 80px; width: 100%;}
    header .logo{width: 200px; height: 56px; margin: 7px auto 0 auto; }
    header .logo a{ display: block; width: 100%; height: 100%;  background: url(../img/logo.svg); background-size: cover;}
    header .menu {height: 80px; width: 100%; background: white;}
    header .menu i{font-size: 3.5em; line-height: 2.3em; color: black; float: right; margin-right: 60px;}
    header .menu a{text-decoration: none;}
    header   i{font-size: 2.5em; }

    

    .slider{width: 100%;min-height: 300px; line-height: 300px; background-color: #656a6e; text-align: center;background-image: url(../img/slider.jpg);background-size: cover;  background-blend-mode: multiply;}
    .slider .descripcion h4{font-family: 'avenirHeavy';padding-top: 100px; line-height: 1em;font-size: 4.5em; color: #fff; text-align: center;}
    
    .servicios{min-height: 200px; padding: 30px 0 40px 0; background: #FFF;}
    .servicios .opciones{width: 100%;  height: 55px; border-bottom: 1px solid #e6e6e6;}
    .servicios .opciones h3{float: left; line-height: 2em; }
    .servicios .opciones ul{width: 300px; height: 55px; float: right;}
    .servicios .opciones ul li{width: 50%; float: left; height: 55px;}
    .servicios .opciones ul li a{display: block; width: 100%; height: 100%; background: #e6e6e6; text-align: center; text-decoration: none; color: #666; font-family: 'avenirHeavy'; font-size: 1.6em; line-height: 3.5em;}
    .servicios .opciones ul li.current a{background: #1e88e5; color: #fff;}
    .servicios .opciones ul li a:hover{background: #1e88e5; color: #fff;}

    .servicios .servicio{width: 80%; min-height: 100px; margin: 0 auto; padding: 50px 10%; }
    .servicios .servicio .icono{width: 30%; height: 100px; float: left;  font-size: 7.5em; line-height: 1.4em; color: #1e88e5; text-align: center;}
    .servicios .servicio .desc{width: 65%; height: 100px; float: left; margin-left: 5%;}
    .servicios .servicio .desc h4{font-size: 2em; margin: 0; color: #363b40;}
    .servicios .servicio .desc p{font-size: 1.4em; color: #616366;}
    .servicios .ver-mas{width: 240px;height: 50px;}
    .servicios .ver-mas a{display: block;width: 100%; height: 100%; background: #1e88e5; color: #fff; font-size: 1.5em; font-family: 'avenirHeavy';text-align: center; text-decoration: none;line-height: 3.5em; border-radius: 5px;}
    .servicios .ver-mas a:hover{background: white;  border:1px solid #1e88e5; color: #1e88e5;}

    .service{min-height: 200px; padding: 30px 0 40px 0; background: #FFF;}
    .service .opciones{width: 100%;  height: 55px; border-bottom: 1px solid #e6e6e6;}
    .service .opciones h3{float: left; line-height: 2em; }
    .service .opciones ul{width: 300px; height: 55px;}
    .service .opciones ul li{width: 50%; float: left; height: 55px;}
    .service .opciones ul li a{display: block; width: 100%; height: 100%; background: #e6e6e6; text-align: center; text-decoration: none; color: #666; font-family: 'avenirHeavy'; font-size: 1.6em; line-height: 3.5em;}
    .service .opciones ul li.current a{background: #1e88e5; color: #fff;}
    .service .opciones ul li a:hover{background: #1e88e5; color: #fff;}

    .service .servicio{width: 80%; min-height: 100px; margin: 0 auto; padding: 50px 10%; }
    .service .servicio .icono{width: 30%; height: 100px; float: left;  font-size: 7.5em; line-height: 1.4em; color: #1e88e5; text-align: center;}
    .service .servicio .desc{width: 65%; height: 100px; float: left; margin-left: 5%;}
    .service .servicio .desc h4{font-size: 2em; margin: 0; color: #363b40;}
    .service .servicio .desc p{font-size: 1.4em; color: #616366;}
    .service .ver-mas{width: 240px;height: 50px;}
    .service .ver-mas a{display: block;width: 100%; height: 100%; background: #1e88e5; color: #fff; font-size: 1.5em; font-family: 'avenirHeavy';text-align: center; text-decoration: none;line-height: 3.5em; border-radius: 5px;}
    .service .ver-mas a:hover{background: white;  border:1px solid #1e88e5; color: #1e88e5;}

    .planes{min-height: 200px;padding: 50px 0;}
    .planes h3{text-align: center; color: black; font-family:'avenirHeavy';}
    .planes p{text-align: center; color: black; font-family: 'avenirBook'; font-size: 1.6em; line-height: 1.4em;}

    .plan{width: 100%; padding: 40px 0; border:1px solid #e6e6e6; background: #f2f2f2;text-align:center;  border-radius: 5px;}
    .plan .categoria h3{ font-family: 'avenirHeavy'; }
    .plan .precio{margin-top: 20px;}
    .plan .precio p b{ font-family: 'avenirHeavy'; color: #1e88e5; min-height:35px; font-size: 2.3em; }
    .plan p{ font-family: 'avenirMedium'; margin-top: 1em;}
    .plan .incluye h4{ font-family: 'avenirMedium'; color: #10549e; font-size: 2.2em; text-align: left; margin-left: 1.4em; margin-top: .5em}
    .plan h3{font-size: 1.6em;}

    .portafolio{ min-height: 200px;padding: 60px 0;}
    .portafolio .proyecto{ width: 100%; height: 200px; background: #10549e; }
    .portafolio .proyecto a{ display: block; width: 100%; height: 100%; background-color: #fff !important;  background-size: cover !important; background-position: center center !important; background-blend-mode: multiply !important; position: relative; transition: background-color .3s !important; }
    .portafolio .proyecto a .nombre{width: 90%; height: 80px; position: absolute; bottom: 10%; left: 5%; visibility: hidden; opacity: 0; -webkit-transition: visibility .3s,opacity .3s; -moz-transition: visibility .3s,opacity .3s; -o-transition: visibility .3s,opacity .3s; transition: visibility .3s,opacity .3s; }
    .portafolio .proyecto a .nombre h5,.portafolio .proyecto a .nombre p{color: #FFF;}
    .portafolio .proyecto a .nombre h5{font-family: 'avenirBlack';}
    .portafolio .proyecto a .nombre p{font-size: 1.3em;}
    .portafolio .proyecto a:hover{ background-color: #10549c !important;  transition: background-color .3s; }
    .portafolio .proyecto a:hover .nombre{visibility: visible; opacity: 1;}

    .portafolio{width: 100%;  min-height: 55px; }
    .portafolio h3{text-align: center; padding: 10px 0 30px 0; color: #363b40; font-family: 'avenirMedium'; font-size: 3em; }
    .portafolio .paginacion{width: 100%; min-height: 70px;}
    .portafolio .paginacion h6{text-align: center; padding:25px; color: #242b31;  font-family: 'avenirBook'; font-size: 2.5em; line-height: 1.6em;}

    .clientes ul li{margin: 30px 1% 20px 1%; width: 15%;float: left;}
    .clientes ul li:first-child{margin-left:0;}
    .clientes ul li:last-child{margin-right: 0;}
    .clientes ul li .cliente{display: block; width: 100%; height: 40px; background-size:contain !important; background-position: center center !important; background-repeat: no-repeat !important; }

    .historia{width: 100%; min-height: 200px; padding: 50px 0; background: #1e88e5;}
    .historia .icono{width: 100%; min-height: 100px; font-size: 32em; color: #FFF; text-align: center; }
    .historia .razon{width: 80%; margin: 0 auto;}
    .historia .razon h3{ color: #FFF; margin-top: 50px;}
    .historia .razon p{ color: #FFF; font-family: 'avenirMedium'; font-size: 1.5em; text-align: justify; }

    
    .about-imagen {width: 92%; height: 350px; background: url(../img/despegue.svg); background-size: cover !important; background-position: top center; position: absolute; top: 0;}


    .motivacion {min-height: 200px;padding: 50px 0; background: #fff;}
    .motivacion .icono {width: 150px;height: 150px; margin: 0 auto; text-align: center; }
    .motivacion .icono i{font-size: 10em; line-height: 1.5em; color: red;}
    .motivacion  .razones{width: 100%; min-height: 100px; margin: 0 auto; padding: 50px 0; }
    

    .equipo {width: 100%;  min-height: 200px; padding: 70px 0 50px 0; background: #f2f2f2;}
    .equipo .integrante{width: 100%; min-height: 300px;}
    .equipo .integrante .foto{width: 182px; height: 182px; background: #fff; border-radius: 96px; margin: 0 auto 15px auto;}
    .equipo .integrante .foto a{display: block; width: 100%; height: 100%; border-radius: 50%; background-color: #fff !important;  background-size: cover !important; background-position: center; filter:grayscale(100%); -webkit-filter: grayscale(100%); transition:filter .3s;}
    .equipo .integrante .foto a:hover{filter: grayscale(0%); -webkit-filter: grayscale(0%);}
    .equipo .integrante h5{ text-align: center;}
    .equipo .integrante span{display: block; width: 100%; font-family: 'avenirBook'; text-align: center; font-size: 1.6em; color: #616366;}

    .wrapper .descripcion{width: 100%; min-height: 350px; background: #10549e;}
    .wrapper .descripcion h4{font-size: 2.3em; font-family: 'avenirHeavy'; color: #fff; text-align: left; margin-top: 110px;}
    .wrapper .descripcion p{font-size: 1.8em; font-family: 'avenirMedium'; color: #fff; text-align: justify;}
    .wrapper .descripcion .imagen{width: 92%; height: 350px; background: url(../img/despegue.svg); background-size: cover !important; background-position: top center;}

    .tecnologias h3{text-align: center; color: #1e88e5;}
    .tecnologias p{text-align: center; color: #e6e6e6; font-family: 'avenirBook'; font-size: 1.6em; line-height: 1.4em;}
    .tecnologias li{text-align: center;}
    .tecnologias ul li a{text-decoration: none; color: #fff;}
    .tecnologias ul li i {font-size: 5.9em;} 

    /* blog */

    .wrapper .blog{width: 100%; min-height: 1000px;  }
    .wrapper .blog h3{font-size: 1.5em;font-family: 'avenirLight'; text-align: center; color: #fff; padding-top: 20px;}
    .wrapper .blog .ventajas{width: 100%; min-height: 500px;/*background: red;*/}
    .wrapper .blog .ventajas .ventaja{width: 100%; height: 350px; background: #3d9fff;}
    .wrapper .blog .ventajas .ventaja h4{font-size: 3em; font-family: 'avenirHeavy'; color: #fff; text-align: center; padding-top: 35px; }
    .wrapper .blog .noticias{width: 100%; min-height: 1000px;/*background: red;*/}
    .wrapper .blog .noticias .noticia {width: 100%; min-height: 400px; background: white; margin-bottom: 20px;}
    .wrapper .blog .noticias .noticia .imagen {width: 100%; height: 325px;  }
    .wrapper .blog .noticias .noticia .imagen a{display: block; width: 100%; height: 100%;   background-size: cover !important; background-position: center}
    .wrapper .blog .noticias .noticia .status {width: 100%; height: 18px; background: #fff; padding: 12px 0; border-bottom: 1px solid #E6E6E6; margin-bottom: 5px; }
    .wrapper .blog .noticias .noticia .status .elementos{width: 94%; height: 20px; margin:0 auto; }
    .wrapper .blog .noticias .noticia .status .elementos a{text-decoration: none; font-size: 1.3em; line-height: 1.5em; font-family: 'avenirHeavy'; color: #10549e; }
    .wrapper .blog .noticias .noticia .status .elementos i{font-size: 1.3em; color: #363b40;}
    .wrapper .blog .noticias .noticia .status .elementos i a{font-size: 1.2em; text-align: none; color: #363b40; margin-left: 5px;}
    .wrapper .blog .noticias .noticia .status .elementos i a:hover{color: #10549e; }
    .wrapper .blog .noticias .noticia .status .elementos span{font-size: 1.2em; text-align: none; color: #363b40; margin-left: 5px;}
    .wrapper .blog .noticias .noticia .intro{width: 94%; margin: 0 auto;}
    .wrapper .blog .noticias .noticia .intro a h2{font-size: 2em;font-family: 'avenirHeavy'; color: #363b40; text-align: left; margin: 0; padding: 0;}
    .wrapper .blog .noticias .noticia .intro a h2:hover{color: #10549e;}
    .wrapper .blog .noticias .noticia .intro a {text-decoration: none;}
    .wrapper .blog .noticias .noticia .intro p{font-size: 1.6em; font-family: 'avenirBook'; text-align: justify; color: #616366;}
    .wrapper .blog .noticias .noticia .autor {width: 100%; height: 60px; padding: 10px 0;}
    .wrapper .blog .noticias .noticia .autor .foto{width: 60px; height: 60px; background: #fff; border-radius: 30px; margin: 0 20px;float: left; }
    .wrapper .blog .noticias .noticia .autor .foto a{display: block; width: 100%; height: 100%; border-radius: 50%; background-color: #fff !important;  background-size: cover !important; background-position: center}
    .wrapper .blog .noticias .noticia .autor .nombre {font-size: 1em; font-family: 'avenirMedium'; color: #616366;min-height: 40px;width: 50%;float: left; line-height: 1em; padding: 10px 0; }
    .wrapper .blog .noticias .noticia .autor .nombre a {text-decoration: none; color: #363b40;}
    .wrapper .blog .noticias .noticia .autor .nombre a:hover {color: #10549e;}
    .wrapper .blog .noticias .noticia .autor .nombre a b{font-size: 1.3em; font-family: 'avenirHeavy'; line-height: 1.8em;}    
    .wrapper .blog .noticias .noticia .autor .share {font-size: 1.4em;text-align: right; height: 20px;width: 30%;float: left;padding: 10px 0;line-height: 3em;}
    .wrapper .blog .noticias .noticia .autor .share a{text-decoration: none; color: red;}
    .wrapper .blog .noticias .noticia .autor .share i{}
    .wrapper .blog .proyectos{width: 100%; min-height: 1000px;/*background: red;*/ background: #fff;}
    .wrapper .blog .proyectos .proyecto{width: 100%; min-height: 20px; /*background: blue;*/}
    .wrapper .blog .proyectos .proyecto .imagen {width: 85%; height: 140px;  margin-left: 22px;  }
    .wrapper .blog .proyectos .proyecto .imagen a{display: block; width: 100%; height: 100%;  background-size: cover !important; background-position: center}
    .wrapper .blog .proyectos .proyecto .intro{width: 85%; margin: 0 auto;}
    .wrapper .blog .proyectos .proyecto .intro a h2{font-size: 1.5em;font-family: 'avenirHeavy'; color: #363b40; text-align: center; margin: 0; padding: 0;}
    .wrapper .blog .proyectos .proyecto .intro a h2:hover{color: #10549e;}
    .wrapper .blog .proyectos .proyecto .intro a {text-decoration: none;}
    .wrapper .blog .proyectos .proyecto .status {width: 100%; height: 18px; padding: 12px 0; border-bottom: 1px solid #E6E6E6; margin-bottom: 5px; }
    .wrapper .blog .proyectos .proyecto .status .elementos{width: 85%; height: 20px; margin:0 auto; }
    .wrapper .blog .proyectos .proyecto .status .elementos a{text-decoration: none; font-size: 1.2em; line-height: 1.5em; font-family: 'avenirHeavy'; color: #10549e; }
    .wrapper .blog .proyectos .proyecto .status .elementos i{font-size: 1.3em; color: #363b40;}
    .wrapper .blog .proyectos .proyecto .status .elementos i a{font-size: 1.2em; text-align: none; color: #363b40; margin-left: 5px;}
    .wrapper .blog .proyectos .proyecto .status .elementos i a:hover{color: #10549e; }
    .wrapper .blog .proyectos .proyecto .status .elementos span{font-size: 1.2em; text-align: none; color: #363b40; margin-left: 5px;}


    footer .piepag{border-bottom: 1px solid #e6e6e6;}
    footer .piepag h4{font-size: 2.5em; font-family: 'avenirBook'; color: #363b40; margin-bottom: 20px;}
    footer .piepag ul li{ width: 100%; min-height: 25px;}
    footer .piepag ul li a{text-decoration: none; font-family: 'avenirBook'; color: #616366; font-size: 1.5em; }
    footer .piepag ul li a:hover{color: #1e88e5;}
   

    footer .derechos{width: 100%; height: 70px;}
    footer .derechos .derecho p,footer .derechos .version p{font-size: 1.5em; font-family: 'avenirBook'; color: #616366; line-height: 1.3em; margin:0; padding: 0;}
    footer .derechos .version p{text-align: right; margin: 0;}
    footer .derechos .version p a{text-decoration: none; color: #1e88e5;}
    footer .derechos .version p a:hover{color: #616366;}
    footer .derechos .version ul{float: right; height: 20px;}
    footer .derechos .version ul li{float: left; width: 20px; height: 20px; margin: 0 1px;}
    footer .derechos .version ul li:last-child{margin:0 0 0 1px;}
    footer .derechos .version ul li a{text-decoration: none; display: block; width: 100%; height: 100%; font-size: 1.5em; text-align: center; line-height: 1.5em; color: #666666;}
    



    /* Style */

    .listas{width: 100%; height: 80px; background: #10549e ;}
    .listas ul{width: 100%; height: 100px; text-align: center; padding: 2em;}
    .listas ul li{width: 10%; height: 40px;float: left; margin-right: 40px;background: #10549e; }
    .listas ul li a{;text-decoration: none; color: #fff;font-size: 2em;;font-family: 'avenirMedium';}
    /* Style */

    

    
    .equipo{min-height: 200px;padding: 40px 0;}
    .piepag{min-height: 200px;padding: 30px 0;}
    .derechos{min-height: 50px;padding: 60px 0;}
    .serv{min-height: 200px;padding: 40px 0;}
    .paquetes{min-height: 200px;padding: 40px 0;}
    .comienza{min-height: 50px;padding: 60px 0;}
    .equipo{min-height: 200px;padding: 40px 0;}
    .mv{min-height: 200px;padding: 40px 0;}
    .acerca{min-height: 200px;padding: 40px 0;}
    .acerca-equipo{min-height: 200px;padding: 40px 0;}
    .portafolios{min-height: 200px;padding: 40px 0;}
    .frase{background: #f2f2f2;}
    .frase .frase{text-align: center; font-size: 1.5em}

    /* Maquetado */

    .banner{width: 100%; min-height: 60px;background: #E6E6E6;text-align: center;}
    .he100{height: 100px; line-height: 100px;}
    .he200{height: 200px;line-height: 200px;}
    .he300{height: 300px;line-height: 300px;}
    .banner p{font-family: helvetica;color:#333; font-size: 1.6em; display: inline-block;vertical-align: middle;line-height: normal; text-align: center;}
    .titulo{height: 60px;background: #E6E6E6;}
    .w100{width: 100px;}
    .w200{width: 200px;}
    .w300{width: 300px;}
    .w1{width: 100%;display: block;}
    .w2{width: 50%;display: block;}
    .w3{width: 25%;display: block;}
    .maut{margin: 0 auto;}
    .texto{height: 20px;background: #E6E6E6; margin-bottom: 10px;}
    .he400{height: 400px;line-height: 400px;}
    .he50{height: 50px;line-height: 50px;}

     /* #Media Queries
    ================================================== */

    /* Bigger than 1280px */

    @media only screen and (min-width: 1281px) {
    
    }


    @media only screen and (min-width: 1600px) {

    }

    @media only screen and (max-height: 768px) {
      

    }

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}



            /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {

  

    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {

    
        header{ height: 90px;}
        header .logo{height: 80px;}
        header img{margin-left: 50px; margin-top: 25px;}
        header .menu {display: none;}

        .clientes ul li{margin: 20px 1%; width: 32%}
        .clientes ul li:nth-child(3){margin-right: 0;}
        .clientes ul li:nth-child(4){margin-left: 0;}
    
         
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        .clientes ul li{margin: 20px 2%; width: 47%}
        .clientes ul li:nth-child(2){margin-right: 0;}
        .clientes ul li:nth-child(3){margin-left: 0;margin-right: 2%;}
        .clientes ul li:nth-child(4){margin-right: 0;margin-left: 2%;}
        .clientes ul li:nth-child(5){margin-left: 0;}
       
    }


    /* #Font-Face
    ================================================== */
    /* 	This is the proper syntax for an @font-face file
    		Just create a "fonts" folder at the root,
    		copy your FontName into code below and remove
    		comment brackets */
    
    @font-face {
        font-family: 'avenirLight';
        src: url('fonts/avenir/AvenirLTStd-Light.eot');
        src: url('fonts/avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Light.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Light.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Light.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
   @font-face {
        font-family: 'avenirMedium';
        src: url('fonts/avenir/AvenirLTStd-Medium.eot');
        src: url('fonts/avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Medium.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Medium.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Medium.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirBook';
        src: url('fonts/avenir/AvenirLTStd-Book.eot');
        src: url('fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Book.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Book.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirHeavy';
        src: url('fonts/avenir/AvenirLTStd-Heavy.eot');
        src: url('fonts/avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Heavy.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Heavy.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Heavy.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'avenirBlack';
        src: url('fonts/avenir/AvenirLTStd-Black.eot');
        src: url('fonts/avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
             url('fonts/avenir/AvenirLTStd-Black.woff') format('woff'),
             url('fonts/avenir/AvenirLTStd-Black.ttf') format('truetype'),
             url('fonts/avenir/AvenirLTStd-Black.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'custom';
        src:url('fonts/custom/thunder.eot?-f1ilph');
        src:url('fonts/custom/thunder.eot?#iefix-f1ilph') format('embedded-opentype'),
            url('fonts/custom/thunder.woff?-f1ilph') format('woff'),
            url('fonts/custom/thunder.ttf?-f1ilph') format('truetype'),
            url('fonts/custom/thunder.svg?-f1ilph#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*=" icon-"] {
        font-family: 'custom';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }


.icon-pag-left-arrow:before {
  content: "\e90e";
}
.icon-pag-right-arrow:before {
  content: "\e90f";
}
.icon-arduino .path1:before {
  content: "\e908";
  color: rgb(0, 0, 0);
}
.icon-arduino .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-arduino .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amazon:before {
  content: "\e90b";
}
.icon-xamarin:before {
  content: "\e90c";
}
.icon-texas:before {
  content: "\e90d";
}
.icon-equipo:before {
  content: "\e907";
}
.icon-cms:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-web-development:before {
  content: "\e902";
}
.icon-ecommerce:before {
  content: "\e903";
}
.icon-apps:before {
  content: "\e904";
}
.icon-ui:before {
  content: "\e905";
}
.icon-web-design:before {
  content: "\e906";
}
.icon-error:before {
  content: "\e5c9";
}
.icon-success:before {
  content: "\e86c";
}
.icon-denied:before {
  content: "\e15c";
}
.icon-warning:before {
  content: "\e000";
}
.icon-help:before {
  content: "\e887";
}
.icon-info:before {
  content: "\e88e";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
